.a{
    text-decoration-line: line-through;
    margin-left: -20px;
}
.b{
    width: 120px;
    height: 30px;
    margin-left: 80px;
    margin-top: -150px;
}
.d{
    margin-left: -20px;
    margin-top: -15px;
}
.s{
    width: 200px;
    height: 400px;
    margin-left: 60px;
}