.a{
    position: absolute;
    margin-left: 60px;
    text-decoration: overline;
}
.b{
    position: absolute;
    margin-top: 160px ;
    margin-left: 60px;
}
.d{
    position: absolute;
    margin-top: 200px ;
    margin-left: 60px;
}